*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f3f3;
}
.prdctbox{
    width: calc((100% - 100px)/4);
    border-radius: 15px;
    background-color: white;
    margin-bottom: 30px;

}
.prdctbox img{
    width: 90%;
    margin-bottom:20px ;
}
.prdctbox button{
    margin: 20px 0;
    width: 100%;
    background-color: #ff003c;
    transition: 1s;
}

#basketCount{
    background-color: #ff003c;
    border-radius: 34%;
    color: white;
    font-size: 10px;
    width: 14px;
    position: absolute;
    font-weight: 700;
    padding: 1px;
    text-align: center;
    right: -9px;
    top: -11px;
}
.basket-area{
    background-color: white;
    margin: 5px;
    margin-left: 50px;
 padding: 30px 40px;
 border-radius: 20px;
 display: flex;
 justify-content: space-around;
 align-items: center;

}
.count-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}
.count-price i{
    color: #ff003c;
    cursor: pointer;
}
.basket-area span{
    font-weight: 700;
    color: rgb(94, 94, 94);
}
.removei{
    margin-left: 80px;
    font-size: 25px;
}
.img img{
    width: 100px;
    height: 80px;
}
.total-price{
background-color: white;
 margin: 5px;
 padding: 20px;
 border-radius: 20px;
 position: fixed;
 right: 20px;
 top: 60px;
 text-align: center;
 font-weight: 700;
}
.basket-dtext{
    text-align: center;
    margin: 50px;
    font-size: 30px;
    display: none;
}
.basket-dtext a{
    text-decoration: none;
    color: #ff003c;
}